/* Geral*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.logo img{
    max-width: 95%;
    margin-top: 10px;
}

h1{
    font-size: 1.8rem;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

/* Estilo do Header */

.container-header{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    background-color: #E10600;
}

header > .container-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header > .container-header > .logo{
    max-width: 100px;
}

header .menu-destop a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header .menu-destop a:hover{
    color: rgba(255, 255, 255, 0.76);
    transform: scale(1.05);
    display: inline-block;
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-destop ul li{
    display: inline-block;
    padding: 0 40px;
}


/* Estilo do Menu mobile */

.btn-abrir-menu i{
    color: #ffffff;
    font-size: 35px;
}

.menu-mobile{
    background-color: rgb(31, 31, 31);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 75%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #ff0000;
    font-size: 35px;
    position: fixed;
    z-index: 9999999;
}

.menu-mobile nav ul{
    text-align: right;
    margin-top: 60px;
    display: block;
}

.menu-mobile nav ul li a{
    padding: 20px 25%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    display: block;
}

.btn-abrir-menu{
    display: none;
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.611);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

/*banner*/

.banner-image {
    position: relative;
    background: url(imagens/banner.png) no-repeat center;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}

/*Classificação*/ 

.classificacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.classificacao img{
    margin: 5px;
}


/* Projetos Realizados */

.img-proj{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i{
    top: 50%;
    height: 50px;
    width: 50px;
    margin: 0 -20px;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -23px;
    display: none;
}

.wrapper i:last-child{
    right: -23px;
}

.wrapper .carrossel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carrossel .dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carrossel .dragging img{
    pointer-events: none;
}

.carrossel img{
    height: 80px;
    object-fit: cover;
    width: calc(100%  / 5);
    margin-left: 60px;
}

.carrossel img:first-child{
    margin-left: 0px;
}

/*Container formulario e sobre*/ 

.container-principal{
    margin-top: 50px;
    padding: 40px 0px 40px 0px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    width: 100vw;
}

.container-sobre {
    border-right: 1px solid rgba(209, 209, 209, 0.842);
    margin: 50px;
    max-width: 550px;
}

.container-sobre p, .container-sobre h2{
    padding-right: 20px;
}

.container-principal h2{
    color: #E10600;
    font-size: 1.7rem;
    margin-bottom: 20px;
}


/*Estilo do formulario*/ 

.formulario{
    margin-top: 50px;
    width: 28%;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input{
    background-color: rgb(209, 209, 209);
    border: none;
    outline: 0;
    padding: 15px 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

.btn-enviar input:hover{
    background-color:#E10600;
    scale: (1.05);
}



/*Footer*/

footer{
    background-color: #ffffff;
    color: #2a2a2a; 

}

.container-footer{
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;

}

.colum-footer{
    padding: 0 15px;
}

.container-footer .colum-footer h4{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.colum-footer h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(0, 0, 0);
    height: 1px;
    box-sizing: border-box;
    width: 50px;
}

.container-footer .colum-footer ul li{
    list-style: none;
}

.container-footer .colum-footer ul li:not(:last-child){
    margin-bottom: 10px;
}

.colum-footer ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
    display: block;
    transition: all 0.3s ease;
    color: #1e1e1e;
}

.colum-footer ul li a:hover{
    color: rgb(182, 182, 182);
    padding-left: 5px;
}

footer a:visited{
    color: #2a2a2a;
} 

.colum-contact a, .colum-contact p{
    font-size: 17px;
    color: black;
    text-decoration: none;
    margin-bottom: 27px;
    line-height: 25px;
}

.redes-sociais-footer{
    height: 40x;
    margin: 40px 10px 10px 0;
}

.container-footer .colum-footer i{
    color: rgb(28, 27, 27);
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.5s ease;
}

.container-footer .colum-footer i:hover{
    background-color: rgba(88, 88, 88, 0.61);
}

footer .copy{
    text-align: center;
    margin: 0 auto;
}


/*responsivo*/


@media screen and (max-width: 1050px){
    .classificacao{
        margin: 0;
        width: 90vw;
    }

}


@media screen and (max-width: 900px){
    /* header */
    .menu-destop, .btn-contato{
        display: none;
    }

    .btn-abrir-menu{
        display: block;
    }

    header > .container-header{
        justify-content: space-between;
    }

    .banner-image{
        position: relative;
        background-size: cover;
        height: 369px;
        overflow: hidden;
        background: url(imagens/banner-mobile.png) no-repeat center;
    }

    .formulario{
        width: 50%;
    }

    .container-sobre {
        border-right: 0; 
        text-align: center;
        margin-bottom: 0px;
    }

    .formulario{
        border-top: 1px solid white;
        padding: 30px;
    }

       /*footer*/
       .colum-footer{
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }

    .row{
        margin: auto;
    }

    .colum-footer h4::before{
        left: 50%;
        width: 10px;
    }

    .classificacao img{
        max-width: 90%;
    }

}
